{
  "openapi": "3.0.1",
  "info": {
    "title": "IFPA API",
    "description": "This API allows you to extra data out of the IFPA Database and contains information about Players, Tournaments and Rankings\n ### If you are using /v1 or /v2 endpoints, please switch to the current endpoints. These versions are no longer supported or updated.\n ### Release Notes (2.1) : \n\t- 2025-08-11 - Updated tournament /results and /{id} info to reflect correct fields\n\t- 2025-08-01 - Updated this document to OpenAPI 3 \n\t- 2025-08-01 - Added missing fields and structures\n\t- 2025-08-01 - Added logic to better support upper and lower case with attributes that are passed.",
    "contact": {
      "email": "ifpapinball@gmail.com"
    },
    "version": "2.1"
  },
  "servers": [
    {
      "url": "https://api.ifpapinball.com/"
    }
  ],
  "security": [
    {
      "api_key": []
    }
  ],
  "paths": {
    "/director/{id}": {
      "get": {
        "tags": [
          "director"
        ],
        "summary": "Get information about Tournament Directors",
        "description": "Returns data about Tournament Directors",
        "operationId": "viewDirector",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the Director",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "example": "Josh Sharpe"
                    },
                    "profile_photo": {
                      "type": "string",
                      "example": "https://www.ifpapinball.com/images/profiles/directors/1000.jpg"
                    },
                    "director_id": {
                      "type": "number",
                      "example": 1000
                    },
                    "city": {
                      "type": "string",
                      "example": "Chicago"
                    },
                    "stateprov": {
                      "type": "string",
                      "example": "IL"
                    },
                    "country_name": {
                      "type": "string",
                      "example": "United States"
                    },
                    "country_code": {
                      "type": "string",
                      "example": "US"
                    },
                    "country_id": {
                      "type": "number",
                      "example": 168
                    },
                    "twitch_username": {
                      "type": "string",
                      "example": "jsharpe"
                    },
                    "stats": {
                      "type": "object",
                      "properties": {
                        "tournament_count": {
                          "type": "number",
                          "example": 1
                        },
                        "unique_location_count": {
                          "type": "number",
                          "example": 1
                        },
                        "women_tournament_count": {
                          "type": "number",
                          "example": 2
                        },
                        "league_count": {
                          "type": "number",
                          "example": 3
                        },
                        "highest_value": {
                          "type": "number",
                          "example": 141
                        },
                        "average_value": {
                          "type": "number",
                          "example": 22
                        },
                        "total_player_count": {
                          "type": "number",
                          "example": 241
                        },
                        "unique_player_count": {
                          "type": "number",
                          "example": 123
                        },
                        "first_time_player_count": {
                          "type": "number",
                          "example": 100
                        },
                        "repeat_player_count": {
                          "type": "number",
                          "example": 123
                        },
                        "largest_event_count": {
                          "type": "number",
                          "example": 210
                        },
                        "single_format_count": {
                          "type": "number",
                          "example": 10
                        },
                        "multiple_format_count": {
                          "type": "number",
                          "example": 7
                        },
                        "unknown_format_count": {
                          "type": "number",
                          "example": 21
                        },
                        "formats": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "example": "Strike Knockout"
                            },
                            "count": {
                              "type": "number",
                              "example": 15
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid Director ID provided",
            "content": {}
          },
          "404": {
            "description": "Cannot find a director with the provided ID",
            "content": {}
          }
        }
      }
    },
    "/director/{id}/tournaments/{time_period}": {
      "get": {
        "tags": [
          "director"
        ],
        "summary": "Get information about past or future tournaments for a director",
        "description": "Get information about past or future tournaments for a director",
        "operationId": "viewDirectorTours",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the director",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "time_period",
            "in": "path",
            "description": "Past or Future tournaments (past, future)",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "PAST",
                "FUTURE"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "director_id": {
                      "type": "number",
                      "example": 1000
                    },
                    "tournament_count": {
                      "type": "number",
                      "example": 45
                    },
                    "tournaments": {
                      "type": "object",
                      "properties": {
                        "tournament_id": {
                          "type": "number",
                          "example": 15161
                        },
                        "tournament_name": {
                          "type": "string",
                          "example": "IFPA World Championships"
                        },
                        "event_name": {
                          "type": "string",
                          "example": "Main Tournament"
                        },
                        "ranking_system": {
                          "type": "string",
                          "example": "MAIN"
                        },
                        "city": {
                          "type": "string",
                          "example": "Denver"
                        },
                        "stateprov_code": {
                          "type": "string",
                          "example": "CO"
                        },
                        "country_code": {
                          "type": "string",
                          "example": "US"
                        },
                        "country_name": {
                          "type": "string",
                          "example": "United States"
                        },
                        "event_start_date": {
                          "type": "string",
                          "example": "2024-05-01T00:00:00.000Z"
                        },
                        "event_end_date": {
                          "type": "string",
                          "example": "2024-05-01T00:00:00.000Z"
                        },
                        "qualifying_format": {
                          "type": "string",
                          "example": "Matchplay"
                        },
                        "finals_format": {
                          "type": "string",
                          "example": "Single Elimination"
                        },
                        "player_count": {
                          "type": "number",
                          "example": 80
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid Director ID provided",
            "content": {}
          },
          "404": {
            "description": "Cannot find a director with the provided ID",
            "content": {}
          }
        }
      }
    },
    "/director/country": {
      "get": {
        "tags": [
          "director"
        ],
        "summary": "Get a list of players who are country directors for the IFPA",
        "description": "Get a list of players who are country directors for the IFPA",
        "operationId": "viewCountryDirectors",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "number",
                      "example": 22
                    },
                    "country_directors": {
                      "type": "object",
                      "properties": {
                        "player_profile": {
                          "type": "object",
                          "properties": {
                            "player_id": {
                              "type": "number",
                              "example": 4
                            },
                            "name": {
                              "type": "string",
                              "example": "Josh Sharpe"
                            },
                            "country_code": {
                              "type": "string",
                              "example": "US"
                            },
                            "country_name": {
                              "type": "string",
                              "example": "United States"
                            },
                            "profile_photo": {
                              "type": "string",
                              "example": "https://www.ifpapinball.com/images/profiles/player/4.jpg"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/director/search": {
      "get": {
        "tags": [
          "director"
        ],
        "summary": "Search for Directors by Name",
        "description": "Search for Directors by Name",
        "operationId": "searchDirectors",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Name of the Director (not case sensitive)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of results to return (default = 50)",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "search_term": {
                      "type": "string",
                      "example": "sharpe"
                    },
                    "count": {
                      "type": "number",
                      "example": 22
                    },
                    "directors": {
                      "type": "object",
                      "properties": {
                        "director_id": {
                          "type": "number",
                          "example": 4
                        },
                        "name": {
                          "type": "string",
                          "example": "Josh Sharpe"
                        },
                        "city": {
                          "type": "string",
                          "example": "Chicago"
                        },
                        "stateprov": {
                          "type": "string",
                          "example": "IL"
                        },
                        "country_name": {
                          "type": "string",
                          "example": "United States"
                        },
                        "country_code": {
                          "type": "string",
                          "example": "US"
                        },
                        "profile_photo": {
                          "type": "string",
                          "example": "https://www.ifpapinball.com/images/profiles/player/4.jpg"
                        },
                        "stats": {
                          "type": "object",
                          "properties": {
                            "event_count": {
                              "type": "number",
                              "example": 5
                            },
                            "future_event_count": {
                              "type": "number",
                              "example": 125
                            },
                            "unique_player_count": {
                              "type": "number",
                              "example": 125
                            },
                            "total_player_count": {
                              "type": "string",
                              "example": "456"
                            },
                            "last_event_date": {
                              "type": "string",
                              "example": "2024-01-01T00:00:00.000Z"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/other/countries": {
      "get": {
        "tags": [
          "other"
        ],
        "summary": "Get a list of Countries that can referenced by IFPA data",
        "description": "Get a list of Countries that can referenced by IFPA data",
        "operationId": "otherCountries",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "country_id": {
                      "type": "number",
                      "example": 168
                    },
                    "country_name": {
                      "type": "string",
                      "example": "United States"
                    },
                    "country_code": {
                      "type": "string",
                      "example": "US"
                    },
                    "active_flag": {
                      "type": "string",
                      "example": "Y"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/other/stateprovs": {
      "get": {
        "tags": [
          "other"
        ],
        "summary": "Get a list of States and Provinces that can referenced by IFPA data",
        "description": "Get a list of States and Provinces that can referenced by IFPA data  (US, Canada and Australia only)",
        "operationId": "otherStateProv",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "country_id": {
                      "type": "number",
                      "example": 168
                    },
                    "country_name": {
                      "type": "string",
                      "example": "United States"
                    },
                    "country_code": {
                      "type": "string",
                      "example": "US"
                    },
                    "regions": {
                      "type": "object",
                      "properties": {
                        "region_name": {
                          "type": "string",
                          "example": "Ohio"
                        },
                        "region_code": {
                          "type": "string",
                          "example": "OH"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/player": {
      "get": {
        "tags": [
          "player"
        ],
        "summary": "Get Player Information for Multiple Players",
        "description": "Returns information on the player based on the IDs provide (limit 50)",
        "operationId": "viewPlayerMulti",
        "parameters": [
          {
            "name": "players",
            "in": "query",
            "description": "ID of the players, comma delimited",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "player": {
                      "type": "object",
                      "properties": {
                        "player_id": {
                          "type": "number",
                          "example": 50
                        },
                        "first_name": {
                          "type": "string",
                          "example": "Josh"
                        },
                        "last_name": {
                          "type": "string",
                          "example": "Sharpe"
                        },
                        "initials": {
                          "type": "string",
                          "example": "JLS"
                        },
                        "excluded_flag": {
                          "type": "boolean"
                        },
                        "age": {
                          "type": "number",
                          "example": 48
                        },
                        "city": {
                          "type": "string",
                          "example": "Chicago"
                        },
                        "stateprov": {
                          "type": "string",
                          "example": "IL"
                        },
                        "country_name": {
                          "type": "string",
                          "example": "United Stated"
                        },
                        "country_code": {
                          "type": "string",
                          "example": "US"
                        },
                        "ifpa_registered": {
                          "type": "boolean",
                          "example": true
                        },
                        "womens_flag": {
                          "type": "boolean",
                          "example": false
                        },
                        "profile_photo": {
                          "type": "string",
                          "example": "https://www.ifpapinball.com/images/profile/players/4.jpg"
                        },
                        "matchplay_events": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "number",
                              "example": 1234
                            },
                            "rating": {
                              "type": "number",
                              "example": 4567
                            },
                            "rank": {
                              "type": "number",
                              "example": 45
                            }
                          }
                        },
                        "twitch_username": {
                          "type": "string",
                          "example": "jsharpe"
                        },
                        "pinside_username": {
                          "type": "string",
                          "example": "jsharpe"
                        },
                        "player_stats": {
                          "type": "object",
                          "properties": {
                            "system": {
                              "type": "object",
                              "properties": {
                                "MAIN": {
                                  "type": "object",
                                  "properties": {
                                    "current_rank": {
                                      "type": "number",
                                      "example": 25
                                    },
                                    "last_month_rank": {
                                      "type": "number",
                                      "example": 25
                                    },
                                    "last_year_rank": {
                                      "type": "number",
                                      "example": 25
                                    },
                                    "highest_rank": {
                                      "type": "number",
                                      "example": 25
                                    },
                                    "current_points": {
                                      "type": "number",
                                      "example": 1234.11
                                    },
                                    "all_time_points": {
                                      "type": "number",
                                      "example": 2456.44
                                    },
                                    "active_points": {
                                      "type": "number",
                                      "example": 1123.33
                                    },
                                    "inactive_points": {
                                      "type": "number",
                                      "example": 2101.22
                                    },
                                    "best_finish": {
                                      "type": "number",
                                      "example": 1
                                    },
                                    "best_finish_count": {
                                      "type": "number",
                                      "example": 10
                                    },
                                    "average_finish": {
                                      "type": "number",
                                      "example": 11
                                    },
                                    "average_finish_last_year": {
                                      "type": "number",
                                      "example": 15
                                    },
                                    "total_events_all_time": {
                                      "type": "number",
                                      "example": 123
                                    },
                                    "total_active_events": {
                                      "type": "number",
                                      "example": 451
                                    },
                                    "total_events_away": {
                                      "type": "number",
                                      "example": 15
                                    },
                                    "total_wins_last_3_years": {
                                      "type": "number",
                                      "example": 4
                                    },
                                    "top_3_last_3_years": {
                                      "type": "number",
                                      "example": 14
                                    },
                                    "top_10_last_3_years": {
                                      "type": "number",
                                      "example": 15
                                    },
                                    "ratings_rank": {
                                      "type": "number",
                                      "example": 25
                                    },
                                    "ratings_value": {
                                      "type": "number",
                                      "example": 1511.15
                                    },
                                    "efficiency_rank": {
                                      "type": "number",
                                      "example": 171
                                    },
                                    "efficiency_value": {
                                      "type": "number",
                                      "example": 56.76
                                    }
                                  }
                                },
                                "WOMEN": {
                                  "type": "object",
                                  "properties": {
                                    "current_rank": {
                                      "type": "number",
                                      "example": 25
                                    },
                                    "last_month_rank": {
                                      "type": "number",
                                      "example": 25
                                    },
                                    "last_year_rank": {
                                      "type": "number",
                                      "example": 25
                                    },
                                    "highest_rank": {
                                      "type": "number",
                                      "example": 25
                                    },
                                    "current_points": {
                                      "type": "number",
                                      "example": 1234.11
                                    },
                                    "all_time_points": {
                                      "type": "number",
                                      "example": 2456.44
                                    },
                                    "active_points": {
                                      "type": "number",
                                      "example": 1123.33
                                    },
                                    "inactive_points": {
                                      "type": "number",
                                      "example": 2101.22
                                    },
                                    "best_finish": {
                                      "type": "number",
                                      "example": 1
                                    },
                                    "best_finish_count": {
                                      "type": "number",
                                      "example": 10
                                    },
                                    "average_finish": {
                                      "type": "number",
                                      "example": 11
                                    },
                                    "average_finish_last_year": {
                                      "type": "number",
                                      "example": 15
                                    },
                                    "total_events_all_time": {
                                      "type": "number",
                                      "example": 123
                                    },
                                    "total_active_events": {
                                      "type": "number",
                                      "example": 451
                                    },
                                    "total_events_away": {
                                      "type": "number",
                                      "example": 15
                                    },
                                    "total_wins_last_3_years": {
                                      "type": "number",
                                      "example": 4
                                    },
                                    "top_3_last_3_years": {
                                      "type": "number",
                                      "example": 14
                                    },
                                    "top_10_last_3_years": {
                                      "type": "number",
                                      "example": 15
                                    },
                                    "ratings_rank": {
                                      "type": "number",
                                      "example": 25
                                    },
                                    "ratings_value": {
                                      "type": "number",
                                      "example": 1511.15
                                    },
                                    "efficiency_rank": {
                                      "type": "number",
                                      "example": 171
                                    },
                                    "efficiency_value": {
                                      "type": "number",
                                      "example": 56.76
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "series": {
                          "type": "object",
                          "properties": {
                            "series_code": {
                              "type": "string",
                              "example": "NACS"
                            },
                            "region_code": {
                              "type": "string",
                              "example": "OH"
                            },
                            "year": {
                              "type": "number",
                              "example": 2024
                            },
                            "total_points": {
                              "type": "number",
                              "example": 123.45
                            },
                            "series_rank": {
                              "type": "number",
                              "example": 16
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/player/{id}": {
      "get": {
        "tags": [
          "player"
        ],
        "summary": "Get Player Information",
        "description": "Returns information on the player based on the ID Provided",
        "operationId": "viewPlayer",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the player",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "player": {
                      "type": "object",
                      "properties": {
                        "player_id": {
                          "type": "number",
                          "example": 50
                        },
                        "first_name": {
                          "type": "string",
                          "example": "Josh"
                        },
                        "last_name": {
                          "type": "string",
                          "example": "Sharpe"
                        },
                        "initials": {
                          "type": "string",
                          "example": "JLS"
                        },
                        "excluded_flag": {
                          "type": "boolean"
                        },
                        "age": {
                          "type": "number",
                          "example": 48
                        },
                        "city": {
                          "type": "string",
                          "example": "Chicago"
                        },
                        "stateprov": {
                          "type": "string",
                          "example": "IL"
                        },
                        "country_name": {
                          "type": "string",
                          "example": "United Stated"
                        },
                        "country_code": {
                          "type": "string",
                          "example": "US"
                        },
                        "ifpa_registered": {
                          "type": "boolean",
                          "example": true
                        },
                        "womens_flag": {
                          "type": "boolean",
                          "example": true
                        },
                        "profile_photo": {
                          "type": "string",
                          "example": "https://www.ifpapinball.com/images/profile/players/4.jpg"
                        },
                        "matchplay_events": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "number",
                              "example": 1234
                            },
                            "rating": {
                              "type": "number",
                              "example": 4567
                            },
                            "rank": {
                              "type": "number",
                              "example": 45
                            }
                          }
                        },
                        "twitch_username": {
                          "type": "string",
                          "example": "jsharpe"
                        },
                        "pinside_username": {
                          "type": "string",
                          "example": "jsharpe"
                        },
                        "player_stats": {
                          "type": "object",
                          "properties": {
                            "system": {
                              "type": "object",
                              "properties": {
                                "MAIN": {
                                  "type": "object",
                                  "properties": {
                                    "current_rank": {
                                      "type": "number",
                                      "example": 25
                                    },
                                    "last_month_rank": {
                                      "type": "number",
                                      "example": 25
                                    },
                                    "last_year_rank": {
                                      "type": "number",
                                      "example": 25
                                    },
                                    "highest_rank": {
                                      "type": "number",
                                      "example": 25
                                    },
                                    "current_points": {
                                      "type": "number",
                                      "example": 1234.11
                                    },
                                    "all_time_points": {
                                      "type": "number",
                                      "example": 2456.44
                                    },
                                    "active_points": {
                                      "type": "number",
                                      "example": 1123.33
                                    },
                                    "inactive_points": {
                                      "type": "number",
                                      "example": 2101.22
                                    },
                                    "best_finish": {
                                      "type": "number",
                                      "example": 1
                                    },
                                    "best_finish_count": {
                                      "type": "number",
                                      "example": 10
                                    },
                                    "average_finish": {
                                      "type": "number",
                                      "example": 11
                                    },
                                    "average_finish_last_year": {
                                      "type": "number",
                                      "example": 15
                                    },
                                    "total_events_all_time": {
                                      "type": "number",
                                      "example": 123
                                    },
                                    "total_active_events": {
                                      "type": "number",
                                      "example": 451
                                    },
                                    "total_events_away": {
                                      "type": "number",
                                      "example": 15
                                    },
                                    "total_wins_last_3_years": {
                                      "type": "number",
                                      "example": 4
                                    },
                                    "top_3_last_3_years": {
                                      "type": "number",
                                      "example": 14
                                    },
                                    "top_10_last_3_years": {
                                      "type": "number",
                                      "example": 15
                                    },
                                    "ratings_rank": {
                                      "type": "number",
                                      "example": 25
                                    },
                                    "ratings_value": {
                                      "type": "number",
                                      "example": 1511.15
                                    },
                                    "efficiency_rank": {
                                      "type": "number",
                                      "example": 171
                                    },
                                    "efficiency_value": {
                                      "type": "number",
                                      "example": 56.76
                                    }
                                  }
                                },
                                "WOMEN": {
                                  "type": "object",
                                  "properties": {
                                    "current_rank": {
                                      "type": "number",
                                      "example": 25
                                    },
                                    "last_month_rank": {
                                      "type": "number",
                                      "example": 25
                                    },
                                    "last_year_rank": {
                                      "type": "number",
                                      "example": 25
                                    },
                                    "highest_rank": {
                                      "type": "number",
                                      "example": 25
                                    },
                                    "current_points": {
                                      "type": "number",
                                      "example": 1234.11
                                    },
                                    "all_time_points": {
                                      "type": "number",
                                      "example": 2456.44
                                    },
                                    "active_points": {
                                      "type": "number",
                                      "example": 1123.33
                                    },
                                    "inactive_points": {
                                      "type": "number",
                                      "example": 2101.22
                                    },
                                    "best_finish": {
                                      "type": "number",
                                      "example": 1
                                    },
                                    "best_finish_count": {
                                      "type": "number",
                                      "example": 10
                                    },
                                    "average_finish": {
                                      "type": "number",
                                      "example": 11
                                    },
                                    "average_finish_last_year": {
                                      "type": "number",
                                      "example": 15
                                    },
                                    "total_events_all_time": {
                                      "type": "number",
                                      "example": 123
                                    },
                                    "total_active_events": {
                                      "type": "number",
                                      "example": 451
                                    },
                                    "total_events_away": {
                                      "type": "number",
                                      "example": 15
                                    },
                                    "total_wins_last_3_years": {
                                      "type": "number",
                                      "example": 4
                                    },
                                    "top_3_last_3_years": {
                                      "type": "number",
                                      "example": 14
                                    },
                                    "top_10_last_3_years": {
                                      "type": "number",
                                      "example": 15
                                    },
                                    "ratings_rank": {
                                      "type": "number",
                                      "example": 25
                                    },
                                    "ratings_value": {
                                      "type": "number",
                                      "example": 1511.15
                                    },
                                    "efficiency_rank": {
                                      "type": "number",
                                      "example": 171
                                    },
                                    "efficiency_value": {
                                      "type": "number",
                                      "example": 56.76
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "series": {
                          "type": "object",
                          "properties": {
                            "series_code": {
                              "type": "string",
                              "example": "NACS"
                            },
                            "region_code": {
                              "type": "string",
                              "example": "OH"
                            },
                            "year": {
                              "type": "number",
                              "example": 2024
                            },
                            "total_points": {
                              "type": "number",
                              "example": 123.45
                            },
                            "series_rank": {
                              "type": "number",
                              "example": 16
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/player/{id}/pvp": {
      "get": {
        "tags": [
          "player"
        ],
        "summary": "Get High Level PVP Information",
        "description": "Returns PVP records against other players",
        "operationId": "viewPlayerPVP",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the player",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "player_id": {
                      "type": "number",
                      "example": 4
                    },
                    "total_competitors": {
                      "type": "number",
                      "example": 1011
                    },
                    "system": {
                      "type": "string",
                      "example": "MAIN"
                    },
                    "pvp": {
                      "type": "object",
                      "properties": {
                        "player_id": {
                          "type": "number",
                          "example": 7
                        },
                        "first_name": {
                          "type": "string",
                          "example": "Zach"
                        },
                        "last_name": {
                          "type": "string",
                          "example": "Sharpe"
                        },
                        "win_count": {
                          "type": "number",
                          "example": 150
                        },
                        "loss_count": {
                          "type": "number",
                          "example": 150
                        },
                        "tie_count": {
                          "type": "number",
                          "example": 150
                        },
                        "current_rank": {
                          "type": "number",
                          "example": 12
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid Player ID provided",
            "content": {}
          },
          "404": {
            "description": "Cannot find a player with the provided ID",
            "content": {}
          }
        }
      }
    },
    "/player/{id}/pvp/{id2}": {
      "get": {
        "tags": [
          "player"
        ],
        "summary": "Get High Level PVP Information",
        "description": "Returns PVP records against other players",
        "operationId": "viewPlayerPVPToPlayer",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the 1st player to compare",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "id2",
            "in": "path",
            "description": "ID of the 2nd player to compare",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "player_1": {
                      "type": "object",
                      "properties": {
                        "player_id": {
                          "type": "number",
                          "example": 4
                        },
                        "first_name": {
                          "type": "string",
                          "example": "Josh"
                        },
                        "last_name": {
                          "type": "string",
                          "example": "Sharpe"
                        },
                        "country_code": {
                          "type": "string",
                          "example": "US"
                        },
                        "excluded_flag": {
                          "type": "boolean",
                          "example": true
                        },
                        "profile_photo": {
                          "type": "string",
                          "example": "https://www.ifpapinball.com/images/profiles/player/4.jpg"
                        }
                      }
                    },
                    "player_2": {
                      "type": "object",
                      "properties": {
                        "player_id": {
                          "type": "number",
                          "example": 8
                        },
                        "first_name": {
                          "type": "string",
                          "example": "Zach"
                        },
                        "last_name": {
                          "type": "string",
                          "example": "Sharpe"
                        },
                        "country_code": {
                          "type": "string",
                          "example": "US"
                        },
                        "excluded_flag": {
                          "type": "boolean",
                          "example": true
                        },
                        "profile_photo": {
                          "type": "string",
                          "example": "https://www.ifpapinball.com/images/profiles/player/8.jpg"
                        }
                      }
                    },
                    "pvp": {
                      "type": "object",
                      "properties": {
                        "tournament_name": {
                          "type": "string",
                          "example": "IFPA World Pinball Championships"
                        },
                        "event_name": {
                          "type": "string",
                          "example": "Main Tournament"
                        },
                        "tournament_id": {
                          "type": "number",
                          "example": 1001
                        },
                        "event_end_date": {
                          "type": "string",
                          "example": "2024-01-01T00:00:00.000Z"
                        },
                        "country_code": {
                          "type": "string",
                          "example": "US"
                        },
                        "finish_position": {
                          "type": "object",
                          "properties": {
                            "player_1": {
                              "type": "number",
                              "example": 4
                            },
                            "player_2": {
                              "type": "number",
                              "example": 5
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid Player ID provided",
            "content": {}
          },
          "404": {
            "description": "Cannot find a player with the provided ID",
            "content": {}
          }
        }
      }
    },
    "/player/{id}/rank_history": {
      "get": {
        "tags": [
          "player"
        ],
        "summary": "Gets ranking and rating history for the player",
        "description": "Returns ranking and rating history for the player",
        "operationId": "viewPlayerRankHistory",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the player",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "player_id": {
                      "type": "number",
                      "example": 4
                    },
                    "system": {
                      "type": "string",
                      "example": "MAIN"
                    },
                    "active_flag": {
                      "type": "boolean",
                      "example": true
                    },
                    "rank_history": {
                      "type": "object",
                      "properties": {
                        "rank_date": {
                          "type": "string",
                          "example": "2024-01-01T00:00:00.000Z"
                        },
                        "rank_postiion": {
                          "type": "number",
                          "example": 15
                        },
                        "wppr_points": {
                          "type": "number",
                          "example": 1551.11
                        },
                        "tournaments_played_count": {
                          "type": "number",
                          "example": 2
                        }
                      }
                    },
                    "rating_history": {
                      "type": "object",
                      "properties": {
                        "rating_date": {
                          "type": "string",
                          "example": "2024-01-01T00:00:00.000Z"
                        },
                        "rating": {
                          "type": "number",
                          "example": 1561.55
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid Player ID provided",
            "content": {}
          },
          "404": {
            "description": "Cannot find a player with the provided ID",
            "content": {}
          }
        }
      }
    },
    "/player/{id}/results/{ranking_system}/{type}": {
      "get": {
        "tags": [
          "player"
        ],
        "summary": "Get tournament results for a player",
        "description": "Returns tournament results for a player based on the ranking system provided (main, women, youth)",
        "operationId": "viewPlayerActiveResults",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the player",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "ranking_system",
            "in": "path",
            "description": "ranking system",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "MAIN",
                "WOMEN",
                "YOUTH"
              ]
            }
          },
          {
            "name": "type",
            "in": "path",
            "description": "type of result. active, nonactive, inactive",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "ACTIVE",
                "NONACTIVE",
                "INACTIVE"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "player_id": {
                      "type": "number",
                      "example": 4
                    },
                    "results_type": {
                      "type": "string",
                      "example": "ACTIVE"
                    },
                    "results_count": {
                      "type": "number",
                      "example": 15
                    },
                    "system": {
                      "type": "string",
                      "example": "MAIN"
                    },
                    "results": {
                      "type": "object",
                      "properties": {
                        "tournament_name": {
                          "type": "string",
                          "example": "IFPA World Pinball Championships"
                        },
                        "tournament_id": {
                          "type": "number",
                          "example": 1001
                        },
                        "event_name": {
                          "type": "string",
                          "example": "Main Tournament"
                        },
                        "event_date": {
                          "type": "string",
                          "example": "2024-01-01T00:00:00.000Z"
                        },
                        "country_name": {
                          "type": "string",
                          "example": "United States"
                        },
                        "country_code": {
                          "type": "string",
                          "example": "US"
                        },
                        "position": {
                          "type": "number",
                          "example": 2
                        },
                        "original_points": {
                          "type": "number",
                          "example": 123.45
                        },
                        "current_points": {
                          "type": "number",
                          "example": 75.15
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid Player ID or Rank System provided",
            "content": {}
          },
          "404": {
            "description": "Cannot find player or ranking system data",
            "content": {}
          }
        }
      }
    },
    "/player/search": {
      "get": {
        "tags": [
          "player"
        ],
        "summary": "Search for players",
        "description": "Returns a list of players based on specific criteria",
        "operationId": "searchPlayers",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Name of the player (not case sensitive)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "description": "Country Name or 2-digit code",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "stateprov",
            "in": "query",
            "description": "2 digit State or Providence Code",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tournament",
            "in": "query",
            "description": "Name of tournament that a player may have played in. Partial Strings are accepted",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tourpos",
            "in": "query",
            "description": "The position the player finished in",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "search_filter": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "example": "Sharpe"
                        },
                        "country": {
                          "type": "string",
                          "example": "US"
                        },
                        "stateprov": {
                          "type": "string",
                          "example": "IL"
                        },
                        "tournament": {
                          "type": "string",
                          "example": "PAPA"
                        },
                        "tournament_position": {
                          "type": "number",
                          "example": 1
                        },
                        "include_unranked": {
                          "type": "string",
                          "example": "Y"
                        }
                      }
                    },
                    "count": {
                      "type": "number",
                      "example": 50
                    },
                    "total_results": {
                      "type": "number",
                      "example": 451
                    },
                    "results": {
                      "type": "object",
                      "properties": {
                        "player_id": {
                          "type": "number",
                          "example": 4
                        },
                        "first_name": {
                          "type": "string",
                          "example": "Josh"
                        },
                        "last_name": {
                          "type": "string",
                          "example": "Sharpe"
                        },
                        "country_name": {
                          "type": "string",
                          "example": "United States"
                        },
                        "country_code": {
                          "type": "string",
                          "example": "US"
                        },
                        "city": {
                          "type": "string",
                          "example": "Chicago"
                        },
                        "stateprov": {
                          "type": "string",
                          "example": "IL"
                        },
                        "wppr_rank": {
                          "type": "number",
                          "example": 10
                        },
                        "rating_value": {
                          "type": "number",
                          "example": 1234.56
                        },
                        "profile_photo_url": {
                          "type": "string",
                          "example": "https://www.ifpapinball.com/images/profile/players/4.jpg"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid Search Criteria provided",
            "content": {}
          },
          "404": {
            "description": "No results found",
            "content": {}
          }
        }
      }
    },
    "/rankings/youth": {
      "get": {
        "tags": [
          "rankings"
        ],
        "summary": "Ranking of Players who are under the age of 18",
        "description": "Ranking of Players who are under the age of 18",
        "operationId": "rankingYouth",
        "parameters": [
          {
            "name": "start_pos",
            "in": "query",
            "description": "Starting Position within results (for pagination)",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "How many Results to return",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ranking_type": {
                      "type": "string",
                      "example": "youth"
                    },
                    "start_position": {
                      "type": "number",
                      "example": 1
                    },
                    "return_count": {
                      "type": "number",
                      "example": 50
                    },
                    "total_count": {
                      "type": "number",
                      "example": 1561
                    },
                    "rankings": {
                      "type": "object",
                      "properties": {
                        "player_id": {
                          "type": "number",
                          "example": 4
                        },
                        "name": {
                          "type": "string",
                          "example": "Joshie Sharpe"
                        },
                        "age": {
                          "type": "number",
                          "example": 13
                        },
                        "profile_photo": {
                          "type": "string",
                          "example": "https://www.ifpapinball.com/profiles/players/134.jpg"
                        },
                        "country_name": {
                          "type": "string",
                          "example": "United States"
                        },
                        "country_code": {
                          "type": "string",
                          "example": "US"
                        },
                        "stateprov": {
                          "type": "string",
                          "example": "IL"
                        },
                        "city": {
                          "type": "string",
                          "example": "Chicago"
                        },
                        "wppr_points": {
                          "type": "number",
                          "example": 1710.11
                        },
                        "current_wppr_rank": {
                          "type": "number",
                          "example": 25
                        },
                        "current_rank": {
                          "type": "number",
                          "example": 15
                        },
                        "last_month_rank": {
                          "type": "number",
                          "example": 16
                        },
                        "rating_value": {
                          "type": "number",
                          "example": 2311
                        },
                        "rating_deviation": {
                          "type": "number",
                          "example": 161
                        },
                        "efficiency_percent": {
                          "type": "number",
                          "example": 68.1
                        },
                        "event_count": {
                          "type": "number",
                          "example": 151
                        },
                        "best_finish": {
                          "type": "number",
                          "example": 1
                        },
                        "best_finish_position": {
                          "type": "number",
                          "example": 1
                        },
                        "best_tournament_id": {
                          "type": "number",
                          "example": 15611
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rankings/wppr": {
      "get": {
        "tags": [
          "rankings"
        ],
        "summary": "Ranking of Players who play in tournament submitted to the WPPR System",
        "description": "Ranking of Players who play in tournament submitted to the WPPR System",
        "operationId": "rankingWppr",
        "parameters": [
          {
            "name": "start_pos",
            "in": "query",
            "description": "Starting Position within results (for pagination)",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "How many Results to return",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ranking_type": {
                      "type": "string",
                      "example": "wppr"
                    },
                    "start_position": {
                      "type": "number",
                      "example": 1
                    },
                    "return_count": {
                      "type": "number",
                      "example": 50
                    },
                    "total_count": {
                      "type": "number",
                      "example": 1561
                    },
                    "sort_order": {
                      "type": "string",
                      "example": "wppr_points"
                    },
                    "rankings": {
                      "type": "object",
                      "properties": {
                        "player_id": {
                          "type": "number",
                          "example": 4
                        },
                        "name": {
                          "type": "string",
                          "example": "Josh Sharpe"
                        },
                        "age": {
                          "type": "number",
                          "example": 43
                        },
                        "profile_photo": {
                          "type": "string",
                          "example": "https://www.ifpapinball.com/profiles/players/134.jpg"
                        },
                        "country_name": {
                          "type": "string",
                          "example": "United States"
                        },
                        "country_code": {
                          "type": "string",
                          "example": "US"
                        },
                        "stateprov": {
                          "type": "string",
                          "example": "IL"
                        },
                        "city": {
                          "type": "string",
                          "example": "Chicago"
                        },
                        "wppr_points": {
                          "type": "number",
                          "example": 1710.11
                        },
                        "current_rank": {
                          "type": "number",
                          "example": 15
                        },
                        "last_month_rank": {
                          "type": "number",
                          "example": 16
                        },
                        "rating_value": {
                          "type": "number",
                          "example": 2311
                        },
                        "rating_deviation": {
                          "type": "number",
                          "example": 161
                        },
                        "efficiency_percent": {
                          "type": "number",
                          "example": 68.1
                        },
                        "event_count": {
                          "type": "number",
                          "example": 151
                        },
                        "best_finish": {
                          "type": "number",
                          "example": 1
                        },
                        "best_finish_position": {
                          "type": "number",
                          "example": 1
                        },
                        "best_tournament_id": {
                          "type": "number",
                          "example": 15611
                        },
                        "total_wins_last_3_years": {
                          "type": "number",
                          "example": 13
                        },
                        "top_3_last_3_years": {
                          "type": "number",
                          "example": 25
                        },
                        "top_10_last_3_years": {
                          "type": "number",
                          "example": 37
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rankings/virtual": {
      "get": {
        "tags": [
          "rankings"
        ],
        "summary": "Ranking of Players who play in VIRTUAL tournaments submitted to the WPPR System",
        "description": "Ranking of Players who play in tournament submitted to the WPPR System",
        "operationId": "rankingVirtual",
        "parameters": [
          {
            "name": "start_pos",
            "in": "query",
            "description": "Starting Position within results (for pagination)",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "How many Results to return",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ranking_type": {
                      "type": "string",
                      "example": "virtual"
                    },
                    "start_position": {
                      "type": "number",
                      "example": 1
                    },
                    "return_count": {
                      "type": "number",
                      "example": 50
                    },
                    "total_count": {
                      "type": "number",
                      "example": 1561
                    },
                    "sort_order": {
                      "type": "string",
                      "example": "wppr_points"
                    },
                    "rankings": {
                      "type": "object",
                      "properties": {
                        "player_id": {
                          "type": "number",
                          "example": 4
                        },
                        "name": {
                          "type": "string",
                          "example": "Josh Sharpe"
                        },
                        "age": {
                          "type": "number",
                          "example": 43
                        },
                        "profile_photo": {
                          "type": "string",
                          "example": "https://www.ifpapinball.com/profiles/players/134.jpg"
                        },
                        "country_name": {
                          "type": "string",
                          "example": "United States"
                        },
                        "country_code": {
                          "type": "string",
                          "example": "US"
                        },
                        "stateprov": {
                          "type": "string",
                          "example": "IL"
                        },
                        "city": {
                          "type": "string",
                          "example": "Chicago"
                        },
                        "wppr_points": {
                          "type": "number",
                          "example": 1710.11
                        },
                        "current_rank": {
                          "type": "number",
                          "example": 15
                        },
                        "last_month_rank": {
                          "type": "number",
                          "example": 16
                        },
                        "rating_value": {
                          "type": "number",
                          "example": 2311
                        },
                        "rating_deviation": {
                          "type": "number",
                          "example": 161
                        },
                        "efficiency_percent": {
                          "type": "number",
                          "example": 68.1
                        },
                        "event_count": {
                          "type": "number",
                          "example": 151
                        },
                        "best_finish": {
                          "type": "number",
                          "example": 1
                        },
                        "best_finish_position": {
                          "type": "number",
                          "example": 1
                        },
                        "best_tournament_id": {
                          "type": "number",
                          "example": 15611
                        },
                        "total_wins_last_3_years": {
                          "type": "number",
                          "example": 13
                        },
                        "top_3_last_3_years": {
                          "type": "number",
                          "example": 25
                        },
                        "top_10_last_3_years": {
                          "type": "number",
                          "example": 37
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rankings/women/{tournament_type}": {
      "get": {
        "tags": [
          "rankings"
        ],
        "summary": "Players ranked in the Women's ranking system based on Open Events",
        "description": "RankingPlayers ranked in the Women's ranking system based on Open Events",
        "operationId": "rankingWomenOpen",
        "parameters": [
          {
            "name": "start_pos",
            "in": "query",
            "description": "Starting Position within results (for pagination)",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "How many Results to return",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "tournament_type",
            "in": "path",
            "description": "The type of tournament that are used in the rankings",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "OPEN",
                "WOMEN"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ranking_type": {
                      "type": "string",
                      "example": "women"
                    },
                    "tournament_type": {
                      "type": "string",
                      "example": "OPEN"
                    },
                    "start_pos": {
                      "type": "number",
                      "example": 1
                    },
                    "return_count": {
                      "type": "number",
                      "example": 50
                    },
                    "total_count": {
                      "type": "number",
                      "example": 1561
                    },
                    "rankings": {
                      "type": "object",
                      "properties": {
                        "player_id": {
                          "type": "number",
                          "example": 4
                        },
                        "name": {
                          "type": "string",
                          "example": "Susan Sharpe"
                        },
                        "age": {
                          "type": "number",
                          "example": 43
                        },
                        "profile_photo": {
                          "type": "string",
                          "example": "https://www.ifpapinball.com/profiles/players/134.jpg"
                        },
                        "country_name": {
                          "type": "string",
                          "example": "United States"
                        },
                        "country_code": {
                          "type": "string",
                          "example": "US"
                        },
                        "stateprov": {
                          "type": "string",
                          "example": "IL"
                        },
                        "city": {
                          "type": "string",
                          "example": "Chicago"
                        },
                        "wppr_points": {
                          "type": "number",
                          "example": 1710.11
                        },
                        "current_rank": {
                          "type": "number",
                          "example": 15
                        },
                        "rating_value": {
                          "type": "number",
                          "example": 2311
                        },
                        "rating_deviation": {
                          "type": "number",
                          "example": 161
                        },
                        "efficiency_percent": {
                          "type": "number",
                          "example": 68.1
                        },
                        "best_finish": {
                          "type": "number",
                          "example": 1
                        },
                        "best_finish_position": {
                          "type": "number",
                          "example": 1
                        },
                        "best_tournament_id": {
                          "type": "number",
                          "example": 15611
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rankings/pro/{ranking_system}": {
      "get": {
        "tags": [
          "rankings"
        ],
        "summary": "Ranking Players in the Pro System",
        "description": "Ranking Players in the Pro System",
        "operationId": "rankingPro",
        "parameters": [
          {
            "name": "ranking_system",
            "in": "path",
            "description": "System to get results for (open, women)",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "OPEN",
                "WOMEN"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ranking_type": {
                      "type": "string",
                      "example": "pro"
                    },
                    "rankings": {
                      "type": "object",
                      "properties": {
                        "player_id": {
                          "type": "number",
                          "example": 4
                        },
                        "name": {
                          "type": "string",
                          "example": "Josh Sharpe"
                        },
                        "profile_photo": {
                          "type": "string",
                          "example": "https://www.ifpapinball.com/profiles/players/134.jpg"
                        },
                        "country_name": {
                          "type": "string",
                          "example": "United States"
                        },
                        "country_code": {
                          "type": "string",
                          "example": "US"
                        },
                        "stateprov": {
                          "type": "string",
                          "example": "IL"
                        },
                        "city": {
                          "type": "string",
                          "example": "Chicago"
                        },
                        "current_rank": {
                          "type": "number",
                          "example": 15
                        },
                        "pro_points": {
                          "type": "number",
                          "example": 1710.11
                        },
                        "original_wppr_points": {
                          "type": "number",
                          "example": 2110.11
                        },
                        "efficiency_percent": {
                          "type": "number",
                          "example": 2110.11
                        },
                        "adj_efficiency_percent": {
                          "type": "number",
                          "example": 156.22
                        },
                        "excess_percent": {
                          "type": "number",
                          "example": 123.55
                        },
                        "wpprtunity": {
                          "type": "number",
                          "example": 2719.11
                        },
                        "wppr_adjustment": {
                          "type": "number",
                          "example": -310
                        },
                        "sos_percent": {
                          "type": "number",
                          "example": 45.18
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rankings/country": {
      "get": {
        "tags": [
          "rankings"
        ],
        "summary": "Ranking of Players based on the Country they are from",
        "description": "Ranking of Players based on the Country they are from",
        "operationId": "rankingCountry",
        "parameters": [
          {
            "name": "start_pos",
            "in": "query",
            "description": "Starting Position within results (for pagination)",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "How many Results to return",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "country",
            "in": "query",
            "description": "Country Name or Code to show (e.g. US, CA, NZ)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ranking_type": {
                      "type": "string",
                      "example": "country"
                    },
                    "start_position": {
                      "type": "number",
                      "example": 1
                    },
                    "return_count": {
                      "type": "number",
                      "example": 50
                    },
                    "total_count": {
                      "type": "number",
                      "example": 1561
                    },
                    "rankings": {
                      "type": "object",
                      "properties": {
                        "player_id": {
                          "type": "number",
                          "example": 4
                        },
                        "name": {
                          "type": "string",
                          "example": "Josh Sharpe"
                        },
                        "age": {
                          "type": "number",
                          "example": 43
                        },
                        "profile_photo_url": {
                          "type": "string",
                          "example": "https://www.ifpapinball.com/profiles/players/4.jpg"
                        },
                        "country_name": {
                          "type": "string",
                          "example": "United States"
                        },
                        "country_code": {
                          "type": "string",
                          "example": "US"
                        },
                        "stateprov": {
                          "type": "string",
                          "example": "IL"
                        },
                        "city": {
                          "type": "string",
                          "example": "Chicago"
                        },
                        "wppr_points": {
                          "type": "number",
                          "example": 1710.11
                        },
                        "current_wppr_rank": {
                          "type": "number",
                          "example": 25
                        },
                        "current_rank": {
                          "type": "number",
                          "example": 15
                        },
                        "last_month_rank": {
                          "type": "number",
                          "example": 16
                        },
                        "rating": {
                          "type": "number",
                          "example": 2311
                        },
                        "rating_deviation": {
                          "type": "number",
                          "example": 161
                        },
                        "efficiency_percent": {
                          "type": "number",
                          "example": 68.1
                        },
                        "event_count": {
                          "type": "number",
                          "example": 151
                        },
                        "best_finish": {
                          "type": "number",
                          "example": 1
                        },
                        "best_finish_position": {
                          "type": "number",
                          "example": 1
                        },
                        "best_tournament_id": {
                          "type": "number",
                          "example": 15611
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rankings/country_list": {
      "get": {
        "tags": [
          "rankings"
        ],
        "summary": "Get a list of Countries that currently have a ranking",
        "description": "Get a list of Countries that currently have a ranking",
        "operationId": "rankingCountryList",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "country_name": {
                      "type": "string",
                      "example": "United States"
                    },
                    "country_code": {
                      "type": "string",
                      "example": "US"
                    },
                    "player_count": {
                      "type": "number",
                      "example": 151
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rankings/custom/list": {
      "get": {
        "tags": [
          "rankings"
        ],
        "summary": "Get a list of custom rankings",
        "description": "Get a list of custom rankings",
        "operationId": "rankingCustomList",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_count": {
                      "type": "number",
                      "example": 15
[...]
